.zuke-header {
    /*min-width: 998px;*/
    /*opacity: 0.95;*/
    position: absolute;
    width: 100%;
    min-width: 998px;
    background-color: rgba(187, 171, 149, 1);
    height: 60px;
    top: 0;
    left: 0;
    box-shadow: 0 3px 3px rgba(100, 100, 100, 0.3);
    z-index: 1000;
}

.zuke-header-position {
    width: 100%;
    background-color: rgba(187, 171, 149, 0);
    height: 60px;
    top: 0;
    left: 0;
    z-index: 0;
}

#zuke_logo {
    float: left;
    height: 120%;
    margin-left: 5%;
    margin-top: 0;
    user-select: none;
}

#position_icon {
    float: left;
    height: 26%;
    margin-left: 5%;
    margin-top: 1.2%;
    margin-right: -1.4%;
    z-index: 500;
    user-select: none;
}

.tag_position {
    margin-left: 0.3%;
    width: 5%;
    float: left;
    height: 100%;
    font-size: 14px;
    text-align: left;
}

.text-position {
    float: left;
    width: 100px;
    margin-top: 22%;
    margin-left: 30%;
    color: white;
    font-size: 15px;
}

#search_ico {
    padding: 8px;
    float: left;
    height: 30%;
    margin-left: 12%;
    margin-top: 0.85%;
    margin-right: -0.2%;
    border-radius: 5px;
    user-select: none;
}

#search_ico:hover {
    margin-right: -0.3%;
    height: 33%;
    /*box-shadow: 2px 2px 2px black;*/
}

#search_ico:active {

    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 1px rgba(159, 143, 124, 0.8);
}

#search_input {
    width: 15%;
    float: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    line-height: 18px;
    margin: 0.9% 8% 0 0.6%;
    padding: 4px 7px;
    border-color: rgba(187, 171, 149, 0.6);
}

#search_input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    border-color: rgba(159, 143, 124, 0.8);
}

.tag_default {
    margin-left: 1%;
    width: 5%;
    float: left;
    height: 100%;
    /*background-color: red;*/
}

.tag_active {
    background-color: rgba(159, 143, 124, 0.6);
}

.header-text {
    float: left;
    width: 100%;
    height: 100%;
    line-height: 400%;
    color: white;
    font-size: 15px;
    text-align: center;
    /*margin-top: 20%;*/
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: all 0.1s;
    /*#9f8f7c*/
    white-space: nowrap;
}

.header-text:hover {
    /*font-weight: bold;*/
    cursor: default;
    background-color: rgba(159, 143, 124, 0.4);
    transition: all 0.1s;
}

.header-text:active {
    /*font-weight: bold;*/
    cursor: default;
    background-color: rgba(159, 143, 124, 0.6);
    transition: all 0.1s;
}

.amap-sug-result {
    background-color: var(--deep-tea-op9);
    color: white;
    font-size: 14px;
    font-weight: normal;
    border-color: var(--tea);
    border-radius: 2px;
    text-shadow: 1px 1px 1px var(--grey5);
}
.auto-item:hover {
    background-color: var(--tea);
}